<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
    <CodeSnippet Format="1.0.0">
        <Header>
            <Title>Controller API BaseLine</Title>
		 <Author>Jorge Perez - Gcatcode</Author>
            <Description>Controlador con metodos base de un controlador</Description>
            <Shortcut>blcontroller</Shortcut>
        </Header>
        <Snippet>
        
  <Declarations>
    <Literal>
      <ID>ControllerName</ID>
      <ToolTip>Enter the Controller name.</ToolTip>
      <Default>Name</Default>
    </Literal>
  </Declarations>
            <Code Language="CSharp">
                <![CDATA[
    [ApiController, Route("api/[controller]")]
    public class $ControllerName$Controller : BaseController
    {
        private readonly $ControllerName$Methods _methods;
        public $ControllerName$Controller(AppSettings configuration)
            : base(configuration) 
        {
            _methods = new $ControllerName$Methods(configuration);
        }

        [HttpGet, Route("")]
        [ProducesResponseType<string>(StatusCodes.Status200OK)]
        public ActionResult Get()
        {
            try{
                var response = _methods.Get();
                return StatusCode(response.StatusCode, response);
            }catch (Exception ex)
            {
                var response = ApiResponse<string>.ErrorResult($ControllerName$Response.InternalServerError(ex.Message));
                return StatusCode((int)response.StatusCode, response);
            }           
        }
    }
                ]]>
            </Code>
            <Imports>
                <Import>
                <Namespace>Microsoft.AspNetCore.Mvc</Namespace>
                <Namespace>GCatcode.Api.Core</Namespace>
                </Import>
            </Imports>
        </Snippet>
    </CodeSnippet>
</CodeSnippets>